<section class="transaction">
    <app-card [cardData]="cardData">
        <div class="grid transaction__content">
            <div class="col-6">
                <app-dropdown [dropdownData]="dropdownAccounts" (onChange)="onChangeAccount($event)"></app-dropdown>
            </div>
            <div class="col-12">
                <app-table [dataHeader]="tableHeader" [dataBody]="transactionsList"></app-table>
            </div>
        </div>
    </app-card>
</section>

@if (showModal) {
    <app-modal (close)="showModal = false" [modalData]="modalData"></app-modal>
}
<app-dialog (clickRightButton)="createTransaction()" [presentDialog]="presentDialog"></app-dialog>