@use '../../../assets/styles/abstracts/variables' as variables;
@use '../../../assets/styles/abstracts/mixins' as mixins;

:host{
    footer {
        width: 100%;
        z-index: -3;
    }
}

.footer {

    &__content {
        position: absolute;
        bottom: 0;
        right: 0;
        background: transparent;
        margin-right: 10px;
        height: 50px;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        &__copyright {
            color: variables.$footer-text-color;
        }
    }
}