@use '../../assets/styles/abstracts/mixins' as mixins;

.layout-container {
    display: flex;
    height: 100vh;
    background-color: #e9e9e9;
    
    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        main {
            @include mixins.margin-locale();
            flex: 1;
        }
    }
    
}