<section class="sidebar">
  <div class="sidebar__content">
    <menu>
      <a href="#" aria-label="forecastr logo" class="sidebar__content__logo">
        <img src="assets/images/logo.png" aria-hidden="true">
      </a>

      <ul class="sidebar__content__menu">
        @for (option of menu; track $index) {
        <li [class]="option.section ? 'sidebar__content__menu--heading' : ''" (click)="option.href && goTo(option.href)">
          @if (option.section) {
          <h3>{{option.item}}</h3>
          } @else {
          <a>
            <img [src]="option.svg" aria-hidden="true">
            <span>{{option.item}}</span>
          </a>
          }
        </li>
        }

        <li>
          <button class="sidebar__content__menu__button-collapse" aria-expanded="true" aria-label="collapse menu" (click)="toggleMenu()">
            <img src="assets/svgs/collapse.svg" aria-hidden="true">
            <span>Collapse</span>
          </button>
        </li>
      </ul>
    </menu>
  </div>
</section>