$header-bg-color: #eeeeee;
$header-text-color: #535353;

$footer-bg-color: #eeeeee;
$footer-text-color: #535353;

$loader-bg-color: rgba(0, 2, 119, 0.3);
$loader-dot-color: rgb(17, 97, 237);
$loader-dot-size: 2vmin;

$sidebar-bgColor: #242e42;
$sidebar-bgColor-hover: #1d2636;
$sidebar-txtColor: #dde9f8;
$sidebar-headingColor: #7889a4;
$sidebar-width: 220px;
$page-content-bgColor: #f0f1f6;
$page-content-txtColor: #171616;
$page-content-blockColor: #fff;
$white: #fff;
$black: #333;
$blue: #00b9eb;
$red: #ec1848;
$border-radius: 4px;
$box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
$switch-bgLightModeColor: #87cefa;
$switch-sunColor: gold;
$switch-moonColor: #f4f4f4;
$switch-bgDarkModeColor: #1f1f27;
